@model Core.Concretes.DTOs.OrderDto

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div>
    <h4>OrderDto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
    <form asp-action="checkout" asp-controller="order" asp-route-id="@Model.Id" method="post">
        <button type="submit" class="btn btn-outline-dark btn-sm">Ödemeyi Onayla</button>
    </form>
</div>
